/*Generel styling*/
body {
    line-height: 1;
    font: 12px/18px Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

nav ul li {
    list-style: none;
}

.wrapper {
    min-width: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin-top: 7%;
    margin-bottom: 7&;
    font-size: 2.5em;
    float: left;
}

h4 {
    background-color: gainsboro;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 3%;
}

h5 {
    font-size: 1.2em;
}

.header {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-bottom: 5%;
    overflow: auto;
}

#logo {
    width: 18%;
    margin: 0 auto;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
}

ul {
    list-style-type: circle;
    margin-top: 0.3em;
    -webkit-padding-start: 0;
    font-size: 0.8em;
}

#navdesktop {
    display: none;
    color: white;
    font-size: 2em;
    float: right;
}

#navikon a{
    font-size: 2em;
    padding: 2%;
    float: right;
    background-color: white;
    color: #000000
}

#navikon img{
  width: 70%;
  margin-top: 2%;
}

nav a {
    text-decoration: none;
    padding: 4px;
    color: white;
}

nav li a {
    color: #000000;
}

#navmobile {
    text-align: center;
    font-size: 1.2em;
}

#navmobile li {
    padding: 0.8em;
    border-bottom: 1px solid #ccc;
}

.footer {
    clear: both;
}

/*Generel styling slut*/

/* Læreingsmateriale generel styling begyndt*/

#sitetitle{
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;

}

#siteicon{
  width: 12%;
  padding: 0;
}

#bokset {
  position: relative;
  background: url("../billeder/moenster.png");
}


#spilbilleder{
  position: absolute;
  float: left;
  background-color: white;
  border-radius: 4%;
  width: 90%;
  margin: 5%;

}

#billedeet {
  width: 60%;
  float: left;
  margin-bottom: 5%;
}
#billedeet img {
  width: 100%;
}

#billedeto {
  width: 60%;
  float: left;
  margin-bottom: 5%;
}

#billedeto img {
  width: 100%;
}

#billedetre {
  width: 60%;
  float: left;
}

#billedetre img {
  width: 100%;
}
